<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp-
                %msg%n</pattern>
        </encoder>
    </appender>
    <!-- CoreApplication 처럼 스프링 부트를 실행할 때는 이 파일을 제거하거나
    <root level="DEBUG"> 부분을 <root level="INFO"> 로 변경하면 같은 로그를 확인할 수 있다.-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>